<!-- main app container -->
<body>
   
    <section class="container-fluid bg">
        <section class="row justify-content-center">
          <section class="col-12 col-sm-6 col-md-3">
           
          
                               
                <form class="form-container" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <h2 class=htop>VAssist Log In </h2>
                    <div class="form-group">
                        <label for="email" class="login-label">Email</label>
                        <input type="text" class="form-control  box" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback validation-alert">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                        </div>
                    <br>

                    
                    <div class="form-group">
                        <label for="password" class="login-label">Password</label>
                        <input type="password" class="form-control box" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback validation-alert">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <br>
                    
                    <div class="form-group">
                        <button class="btn btn-success btn-block button">Login</button>
                    </div>
                
                   </form>
                </section>
            </section>
        </section>
              
     
</body>

